In [117]:
import pandas as pd 
import numpy as np

In [118]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [119]:
df = pd.read_csv('covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [120]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [121]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [122]:
X_train = df.drop(['has_covid'], axis=1)
y_train = df['has_covid']

In [123]:
from sklearn.model_selection import train_test_split

In [124]:
X_train, X_test, y_train, y_test = train_test_split(
    X_train, y_train, test_size=0.2
)

In [125]:
X_train

    age  gender  fever   cough       city
75    5    Male  102.0    Mild    Kolkata
27   33  Female  102.0  Strong      Delhi
19   42  Female    NaN  Strong  Bangalore
24   13  Female  100.0  Strong    Kolkata
47   18  Female  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
56   71    Male    NaN  Strong    Kolkata
54   60  Female   99.0    Mild     Mumbai
92   82  Female  102.0  Strong    Kolkata
70   68  Female  101.0  Strong      Delhi
66   51    Male  104.0    Mild    Kolkata

[80 rows x 5 columns]

In [130]:
from sklearn.compose import ColumnTransformer

In [139]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
    ], remainder='passthrough')

In [141]:
transformer.fit_transform(X_train).shape

(80, 7)

In [142]:
transformer.fit_transform(X_test).shape

(20, 7)